* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

body {
    background-color: rgb(71, 62, 62);
    height: 96vh;
    display: flex;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */
    width: 45%;
    padding: 35px;
    margin: auto;
    background-color:#eee;
    border-radius: 12px;
}

#start-rules h2 {
    margin-top: 22px;
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

#start-rules h3 {
    font-size: 34px;
    color: green;
}

#start-rules li {
    font-size: 21px;
    color: red;
}

#startQuiz {
    font-size: 18.5px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 11px 17px;
    transition: 0.4s ease;
    cursor: pointer;
    color: chocolate;
    background-color: #223737;
}

#startQuiz:hover {
    background-color: chocolate;
    /* border: 2px solid indianred; */
    color: #223737;
}


#quizScreen {
    /* display: flex; */
    flex-direction: column;
    gap: 25px;
}

.hidden {
    display: none;
}

#quizScreen.active {
    display: flex;
}

#question {
    font-size: 28px;
    margin-bottom: 15px;
}

.btn {
    margin: 4px 1px;
    font-size: 17.5px;
    padding: 12px 15px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}

.btn:hover {
    font-size: 18px;
}

#timer {
    width: 100%;
    padding: 18px 10px;
    border-radius: 12px;
    background-color: rgb(153, 52, 153);
    color: white;
    text-align: center;
    margin: auto;
    font-size: 19px;
}

#scoreDisplay {
    width: 100%;
    font-size: 19px;
    padding: 18px 10px;
    border-radius: 12px;
    background-color: salmon;
    color: white;
    text-align: center;
    margin: auto;
}


/* end-screen */
#game-over {
    font-size: 36px;
}

p {
    font-size: 20px;
}

#endMessage {
    font-size: 22px;
    color: crimson;
}


#playAgain {
    font-size: 18.5px;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    padding: 13px 16px;
    color: chocolate;
    background-color: #223737;
    transition: 0.4s ease;
    cursor: pointer;   
}

#playAgain:hover {
    background-color: black;
    color: red;
}