@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Donegal+One&family=Nova+Slim&family=Grandstander:ital,wght@0,100..900;1,100..900&family=Kreon:wght@300..700&family=Laila:wght@300;400;500;600;700&family=Marmelad&family=Salsa&display=swap');

* {
    box-sizing: border-box;
    /* font-family: "Arvo", serif; */
    font-family: "Kreon", serif;
    

}

body {
    background-color: #b08f8f;
    height: 96vh;
    display: flex;
}

/* container */
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */
    width: 50vw;
    padding: 45px;
    margin: auto;
    background-color: #eee;
    border-radius: 12px;
}

/* start-rules container */
#start-rules h2 {
    margin-top: 22px;
    font-size: 54px;
    text-align: center;
    text-decoration: underline;
    color: blueviolet;
}

#start-rules h3 {
    font-size: 30px;
    color: green;
    font-family: "Donegal One", serif;
}

#start-rules li {
    font-size: 20px;
    /* font-family: "Marmelad", sans-serif; */
    /* font-family: "Nova Slim", system-ui; */
    font-family: "Donegal One", serif;
    color: red;
}

/* start-quiz button */
#start-quiz {
    font-size: 21.5px;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    padding: 11px 22px;
    transition: 0.4s ease;
    cursor: pointer;
    color: chocolate;
    background-color: #223737;
}

#start-quiz:hover {
    background-color: chocolate;
    /* border: 2px solid indianred; */
    color: #223737;
}

/* quiz-screen container */
#quiz-screen {
    /* display: flex; */
        font-family: "Arvo", serif;
    flex-direction: column;
    gap: 25px;
}

.hidden {
    display: none;
}

#quiz-screen.active {
    display: flex;
}

#question {
    font-size: 34px;
    margin-bottom: 15px;
}

.btn {
    margin: 4px 1px;
    font-size: 19.5px;
    padding: 12px 15px;
    background-color: cornflowerblue;
    color: white;
    font-weight: 500;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
}

#timer {
    width: 100%;
    padding: 18px 10px;
    border-radius: 12px;
    background-color: rgb(153, 52, 153);
    color: white;
    text-align: center;
    margin: auto;
    font-size: 21.5px;
}

#score-display {
    width: 100%;
    font-size: 21.5px;
    padding: 18px 10px;
    border-radius: 12px;
    background-color: salmon;
    color: white;
    text-align: center;
    margin: auto;
}

/* end-screen container*/
#end-screen {
    flex-direction: column;
}

#end-screen.active {
    display: flex;
}

#game-over {
    font-size: 40px;
}

p {
    font-size: 23px;
}

/* remarks */
#end-message {
    font-size: 22px;
    color: crimson;
}

/* play-again button */
#play-again {
    font-size: 23px;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    padding: 13px 16px;
    /* color: chocolate; */
    color: white;
    background-color: #223737;
    transition: 0.4s ease;
    cursor: pointer;
}

#play-again:hover {
    background-color: black;
    color: wheat;
}